<mat-list role="list">
    <div class="profile">
        <img src="https://www.goldmansachs.com/our-commitments/sustainability/one-million-black-women/black-women-impact-grants-2022/multimedia/black-education-for-new-orleans-f/headshot.jpg"
            alt="admin-logo">
        <div>
            <h2>Michelle Devassia</h2>
            <h4>michelledevassia@gmail.com</h4>
        </div>
    </div>
    <mat-divider></mat-divider>
    <h3>Pages</h3>
    <div class="pages">
        <a routerLink="">Dashboard</a>
        <a routerLink="gallery">Gallery</a>
        <a routerLink="employees">Employees</a>
    </div>
    <mat-divider></mat-divider>
    <h3>Tools</h3>
    <div class="pages">
        <a routerLink="contacts"><mat-icon>import_contacts</mat-icon>Institutes</a>
        <a routerLink="leads"><mat-icon>contact_phone</mat-icon>Leads</a>
    </div>
</mat-list>